* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  font-size: 16px;
}

body {
  background-color: #1d1d1d;
  color: #8d8d8d;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  html {
    font-size: 14px;
  }
}
